<?xml version="1.0"?>
<!--
/**
 * Commercers.com
 * Commercers
 */
-->
<config>
    <tabs>
        <commercers translate="label" module="commercers_commercers">
            <label>Commercers Extensions</label>
            <sort_order>300</sort_order>
        </commercers>
    </tabs>
    <sections>
        <commercers translate="label" module="commercers_commercers">
            <label>Stock </label>
            <tab>commercers</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store> 
            <groups>
            </groups>
        </commercers>
    </sections>
</config>
